<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bankapp_android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Aplikacja bankowa ZTK"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BankAPP_Android"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActivityListaWyborow"
            android:exported="true"
            />
        <activity
            android:name=".ActivityListaKlientow"
            android:exported="true"
            />
        <activity android:name=".ActivityListaRachunkow"
            android:exported="true"/>
        <activity android:name=".ActivityDodajKlienta"
            android:exported="true"/>
        <activity android:name=".ActivityDodajRachunek"
            android:exported="true"/>
        <activity android:name=".ActivityHistoriaTransakcji"
            android:exported="true"/>
        <activity android:name=".ActivityLokalizacja"
            android:exported="true"/>
        <activity android:name=".ActivityKursyWalut"
            android:exported="true"/>
        <activity android:name=".ActivityVideoPlayer"
            android:exported="true"/>
    </application>

</manifest>